.env
.env/example
.venv

.example
export_job_1.json
export_job_3241.json
export_job_50.json
export_job_5.json
export_job_5307.json
export_job_3990.json
export_job_71.json

__pycache__/
# app/config.py

app/topcv/export_jobs_for_questions.py
jobs_for_chatgpt.jsonl

dataset.json